@model IEnumerable<WebApplication1.Models.Reseñas>

@{
    ViewBag.Title = "Reseñas";
}

<div class="container mt-4">
    <h2 class="text-center">Reseñas</h2>

    <p class="text-center">
        @Html.ActionLink("Añadir una Reseña", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="background-color: #f8f9fa;">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Comentario)</h5>
                        <p class="card-text">Calificación: @Html.DisplayFor(modelItem => item.Calificacion)</p>
                        <p class="card-text">Usuario: @Html.DisplayFor(modelItem => item.AspNetUsers.Email)</p>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
