@model IEnumerable<WebApplication1.Models.Servicios_Productos>

@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Productos en promoción</h2>

<div class="service-container">
    @foreach (var item in Model)
    {
        <div class="service-item">
            <img class="service-image" src="@item.FileName" alt="Service Image">
            <div class="service-details">
                <div class="service-name">@item.Nombre</div>
                <div class="service-price">Precio: ₡@item.Precio</div>
                <div class="service-price-promo"> Promo: ₡@item.Precio_Promo</div>
            </div>

            <a id="agregarCarrito" data-id="@item.Id" class="add-button">Agregar al carrito</a>
        </div>
    }
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/ProductosPromo.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('click', '.add-button', function(event) {
        event.preventDefault(); // Evita la acción predeterminada del enlace

        var idProducto = $(this).data("id"); // Obtiene el ID del producto desde el atributo data
        var idUsuario = '@ViewBag.UserId'; // Reemplaza con el ID del usuario

        // Realizar la solicitud AJAX al controlador
        $.ajax({
            url: '/Carrito/AgregarProductoAlCarrito',
            type: 'POST',
            data: {
                idProducto: idProducto,
                idUsuario: idUsuario
            },
            success: function(response) {
                // Muestra un mensaje Toastr cuando el producto se agrega correctamente
                toastr.success('Producto agregado al carrito correctamente.');

                // Puedes realizar alguna acción adicional después de agregar el producto al carrito si es necesario
            },
            error: function(xhr, status, error) {
                // Muestra un mensaje Toastr en caso de error al agregar el producto
                toastr.error('Error al agregar el producto al carrito.');
            }
        });
    });
});


</script>