@model IEnumerable<WebApplication1.Models.Servicios_Productos>

@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/serviciosproductos/ServiciosPromo.css" rel="stylesheet" />
    <!-- Ajusta la ruta según la ubicación de tu archivo serviciosproductos.css -->
</head>

<h2 class="Titulo">Servicios en promoción</h2>

<div class="service-container">
    @foreach (var item in Model)
    {
        <div class="service-item">
            <img src="@Url.Content("~/imagenes/ImagenesProductosServicios/" + item.FileName)" alt="Imagen" width="400" height="400" />
            <div class="service-details">
                <div class="service-name">@item.Nombre</div>
                <div class="service-price">Precio: ₡@item.Precio</div>
                <div class="service-price-promo"> Promo: ₡@item.Precio_Promo</div>
            </div>
            <a href="@Url.Action("CitasNoPromo", "Citas", new { id = item.Id })" class="add-button">Agendar cita</a>

        </div>



    }
</div>
