
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Contacto.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Contacto - Mari Stylist</title>
</head>
<body>
    <section class="heroContacto">
        <h1>Contacto</h1>
    </section>
    <main>
        <div class="contacto-info">
            <h2>Información de Contacto</h2>
            <p><strong>Salón de Belleza Mari Stylist</strong></p>
            <p><i class="fas fa-map-marker-alt"></i> Dirección: Heredia, Barva, frente al Banco de Costa Rica</p>
            <p><i class="fas fa-phone"></i> Teléfono: (506) 6060 2509</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d347.27582715572754!2d-84.1236956039584!3d10.018717069576011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fa98484f788f%3A0x80a9fe513ebb58cd!2sMeagan%20Est%C3%A9tica!5e0!3m2!1ses!2scr!4v1691646446339!5m2!1ses!2scr"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>
