@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Index.css" rel="stylesheet" />

<body>
    <header>
        <div class="logo">
            <img src="~/images/FAUGET1.png" />
        </div>
        <div class="texto">
            <p>Tu destino para la belleza y el bienestar</p>
        </div>
        @Html.ActionLink("Reserva ahora", "CitasNoPromo", "Citas", null, new { @class = "cta-button", id = "reserva" })

    </header>

    <section class="servicios-info">
        <h2>Nuestros Servicios</h2>
        <!-- Aquí puedes agregar descripciones e imágenes de tus servicios -->
        <div class="gallery">
            <img src="~/images/chelson-tamares-SyCC0GQi5S4-unsplash.jpg" alt="Servicio 1">
            <img src="~/images/giorgio-trovato-gb6gtiTZKB8-unsplash.jpg" alt="Servicio 2">
            <img src="~/images/lindsay-cash-Md_DhaFsnCQ-unsplash.jpg" />
            <img src="~/images/shari-sirotnak-oM5YoMhTf8E-unsplash.jpg" />
            <!-- Agrega más imágenes según sea necesario -->
        </div>
    </section>

    <!-- Sección de Información del Salón -->
    <section class="salon-info">
        <div class="container">
            <h3>Conoce Nuestro Salón</h3>
            <p>En Mari Stylist, nos enorgullece ofrecer servicios de belleza excepcionales en un ambiente relajante y acogedor. Nuestro equipo de profesionales altamente capacitados está comprometido a brindarte la mejor experiencia de belleza posible.</p>
        </div>
    </section>

</body>

<!-- Bootstrap JS y Popper.js (Requeridos para los componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
